/* Alec Shallenberger */
/* March 13, 2013 */
/* Term 1303 */
/* VFW_Project2 */

body {
	background: #9a9a99;
}

h1 {
	color: white;
	border: 1px solid white;
	padding: 8px;
	width: 50%;
}

p {
	color: white;
	font-family: "Times new roman" Arial sans-serif;
	font-style: italic;
	font-size: 16px;
	text-align: center; 
	line-height: 1.2em;
}




